<!--<div style="justify-content: center;display:flex;text-align: center;background-color: black; color:blue">
<h2>Thank you! Your Payment of Rs.{{sum}}/- has been received.</h2><br>
<h4>Order Id : _{{orderId}}</h4><br>
<h4>Transaction Id : {{txnId}}</h4>
</div>-->

<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Payment Success !</h1>
                <h2>Thank you! Your Payment of Rs.{{sum}}/- has been received.</h2><br>
                    <h4>Order Id : #{{orderId}}</h4><br>
                    <h4>Transaction Id : {{txnId}}</h4>
                
                <a href=""> Go to Home</a>
             </div>
             
          </div>
       </div>
    </div>
 </div>!